* {
  box-sizing: border-box;
  font-family: "Phudu", serif;
  padding: 0;
  font-size: 20px;
  /* 1rem = 20px */
}

div {
  font-size: 24px;
  /* 1rem = 20px */
  /* 1em = 24px */
}

button {
  padding: 5px;
  cursor: pointer;
  user-select: none;
}

section {
  padding: 5px;
}

form,
form > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

input {
  padding: 5px;
  border-radius: 4px;
}

input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input {
  font-family: Arial, Helvetica, sans-serif;
}

form > div:nth-of-type(3) {
  display: block;
}

label {
  user-select: none;
}

form .checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.checkbox label {
  margin-left: 5px;
}

form div:nth-of-type(1) p:last-child,
form div:nth-of-type(2) p:last-child {
  /* display: none; */
  visibility: hidden;
  margin: 0;
  font-style: italic;
  font-size: 0.7em;
  color: red;
}
